<nav>
  <a href="/new_client">Add a new client</a>
  <a href="/new_stock">Add a new stock</a>
</nav>
<h1>Clients</h1>
<ul>
  <% @clients.each do |client| %>
    <li>
      <%= client.name %>
      <br>
      <a href="/new_portfolio">New Portfolio</a>
      <br>
      <a href="/add_stock">Add new stock to a portfolio</a>
      <br>
      Portfolios: <%= client.portfolios.map {|portfolio| portfolio.name }.join(", ") %>
      <br>
      <% client.portfolios.each do |portfolio| %>
      <a href="/edit_portfolio/<%= portfolio.id %>"><%= portfolio.name %></a>
      <% end %>
      <br>
      <a href="/edit_client/<%= client.id %>">Edit Client</a>
    </li>
  <% end %>
</ul>

<h1>Stocks Offered</h1>
<ul>
  <% @stocks.each do |stock| %>
  <li><%= stock.name %> - <%= stock.ticker %></li>
  <% end %>
</ul>
